.alerta {
    padding: .5rem;
    text-align: center;
    color:$blanco;
    margin: .5rem 0;
    text-transform: uppercase;

    &.error {
        background-color: $rojo;
    }
    &.exito {
        background-color: $verde;
    }
}

table.propiedades {
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;

    thead{
        background-color: $verde;
        
        th{
           color: $blanco;
           padding: 2rem;

        }
    }
    tbody{
        tr{
            text-align: center;
        }
    }

    .imagen-tabla {
        width: 10rem;
        display: block;
        margin: 0 auto;
    }

}
.imagen-small {
    width: 20rem;
}